:root {
  
}

body {
  margin: 0;
  padding: 0;
}



/* Greeting CSS */

#greeting {
  margin: 10px;
}



/* Header CSS */

.header-main {
  --header-background: hsl(200, 100%, 70%);
  --header-button-border-color: hsl(214, 45%, 41%);
  --header-button-shadow-color: hsl(214, 32%, 53%);
  
  width: 100%;
  height: 75px;
  background: var(--header-background);
  margin-top: -16px;
}

.header-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.header-li {
  position: relative;
  text-align: center;
  width: 50px;
  height: fit-content;
  padding: 5px;
  border: 3px solid var(--header-button-border-color);
  border-radius: 10px;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.header-li:hover {
  box-shadow: 3px 4px 3px var(--header-button-shadow-color, black), inset 3px 4px 3px var(--header-button-shadow-color, black);
  text-shadow: 3px 4px 3px var(--header-button-shadow-color, black);
  transition: 0.2s ease-out;
}

.header-li:active {
  transform: translateY(3px);
  box-shadow: 1px 1px 3px var(--header-button-shadow-color, black), inset 1px 1px 3px var(--header-button-shadow-color, black);
  text-shadow: 1px 1px 3px var(--header-button-shadow-color, black);
}



/* Projects CSS */

#projects-grid {
  --grid-item-border-color: royalblue;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.projects-grid-item {
  border: 3px solid var(--grid-item-border-color, royalblue);
  border-radius: 0.4rem;
  padding: 5px;
}

.projects-grid-item p:first-child {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.projects-grid-item p:last-child {
  margin: 0 auto 10px 0.5rem;
}